.btn-list {
  display: flex;
  flex-direction: row;
  gap: 10px;

  .btn-base {
    background-color: #893bd2;
    color: white;
  }
}

.btn-base {
  display: inline-flex;
  justify-content: center;
  border-radius: $radius-form;
  border: $border-base $accent-color;
  padding: $padding-form;
  white-space: nowrap;
  box-shadow: 0 2px 5px 0 #00000038;
  background-color: #ddd;
  color: #000;
}


@each $key, $value in $colors {
  .btn-#{$key} 
  {
    
      border-color: $value;
      background-color: transparent;
      color: $value;}
}

// .btn-primary{
//   border-color: $primary;
//   background-color: transparent;
//   color: $primary;
// }
