/***
    Alin's basic barebone minimal compact CSS reset 
***/

*,
*::before,
*::after {
    box-sizing: border-box;
}
html, body {
    margin:0;
    padding:0;
    display:flow-root;
    min-height: 100vh;
}