$base-font: 16px;
$accent-color: #893bd2;
$padding-base: 1rem;
$shadow-base: 0 3px 6px -1px #00000038;
$border-base: 1px solid;
$padding-form: 10px 20px;
$radius-form : 30px;
$primary: rgb(26, 133, 210);
$secondary: #dcdcdc;
$error:rgb(185, 81, 81);
$info:turquoise;

//o lista
$sizes: 25, 50, 75, 100;


//un map ( lista de perechi)
$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "error": $error,
  "info": $info,
  "blue": #1919e6,
  "red": #e61919,
  "yellow": #e6e619,
  "green": #19e635,
  "orange": #ffa600,
  "purple": #9900ff,
  "gray": #808080,
  "black": black,
  "white": white,
);
