/***
    Alin's basic barebone minimal compact CSS reset 
***/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  display: flow-root;
  min-height: 100vh;
}

/* this is _utils.scss */
.text-center {
  text-align: center;
}

.w25p {
  width: 25%;
}

.w50p {
  width: 50%;
}

.w75p {
  width: 75%;
}

.w100p {
  width: 100%;
}

.p-1 {
  padding: 1rem;
}

.btn-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.btn-list .btn-base {
  background-color: #893bd2;
  color: white;
}

.btn-base {
  display: inline-flex;
  justify-content: center;
  border-radius: 30px;
  border: 1px solid #893bd2;
  padding: 10px 20px;
  white-space: nowrap;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2196078431);
  background-color: #ddd;
  color: #000;
}

.btn-primary {
  border-color: rgb(26, 133, 210);
  background-color: transparent;
  color: rgb(26, 133, 210);
}

.btn-secondary {
  border-color: #dcdcdc;
  background-color: transparent;
  color: #dcdcdc;
}

.btn-error {
  border-color: rgb(185, 81, 81);
  background-color: transparent;
  color: rgb(185, 81, 81);
}

.btn-info {
  border-color: turquoise;
  background-color: transparent;
  color: turquoise;
}

.btn-blue {
  border-color: #1919e6;
  background-color: transparent;
  color: #1919e6;
}

.btn-red {
  border-color: #e61919;
  background-color: transparent;
  color: #e61919;
}

.btn-yellow {
  border-color: #e6e619;
  background-color: transparent;
  color: #e6e619;
}

.btn-green {
  border-color: #19e635;
  background-color: transparent;
  color: #19e635;
}

.btn-orange {
  border-color: #ffa600;
  background-color: transparent;
  color: #ffa600;
}

.btn-purple {
  border-color: #9900ff;
  background-color: transparent;
  color: #9900ff;
}

.btn-gray {
  border-color: #808080;
  background-color: transparent;
  color: #808080;
}

.btn-black {
  border-color: black;
  background-color: transparent;
  color: black;
}

.btn-white {
  border-color: white;
  background-color: transparent;
  color: white;
}

.myForm {
  padding: 30px;
}

input {
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid black;
}

/*# sourceMappingURL=main.css.map */
